
body {
    font-family: "Roboto";
}
.calculator {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.display {
    height: 210px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #070012;
    opacity: 80%;
    color: white;
    font-size: 69px;
}
.past-display {
    height: 70px;
    width: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color:  #070012;
    opacity: 80%;
    color: white;
    font-size: 36px;
    font-weight: 100;
    color: lightgrey;
}
.button-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}
.row {
    display: flex;
    gap: 4px;
}
.uiButton {
    flex: 1 1 25%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    border-width: 0px;
    background-color:  #070012;
    opacity: 80%;
    color: white;
    font-size: 69px;
    text-align: center;
    font-family: "Roboto";
    border: 2px solid black;
}
.executor-button {
    background-color: #22003D;
}
#\= {
    background-color: #EDB800 ;
}
#\. {
    background-color: #22003D;
}
#CE {
    background-color: #2E0000;
}
#DEL {
    background-color: #2E0000;
}
#π {
    font-family: Comic;
}